# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# VS Code
.vscode/

# Dataset
data/

# Results / model files
results/
*.parquet
*.pkl
*.joblib